@page
@model ProductWeb.Pages.Product.IndexModel
@{
  ViewData["Title"] = "Products";
}

<p>
    <a asp-page="Create">Create</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => @Model.products[0].Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => @Model.products[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => @Model.products[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => @Model.products[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => @Model.products[0].ProductType)
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in @Model.products)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductType)
                </td>
                <td>
                    <a asp-page="edit" asp-route-id="@item.Id">Edit</a>
                    <a asp-page="detail" asp-route-id="@item.Id">Detail</a>
                    <a asp-page="delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>